<div class="item post">
  <div class="inner">
    <div class="timestamp">{{timestamp}}</div>
    <div class="title"><h3>{{title}}</h3></div>
    <div class="date">{{display_date}}</div>
    <div class="body">
      {{#if photo_url}}
      <img src="{{photo_url}}" alt="">
      {{/if}}
      {{#if caption}}
      <div class="caption">({{caption}})</div>
      {{/if}}
      {{#if body}}
      <div class="text">{{body}}</div>
      {{/if}}
      <div class="clearfix">
        {{#if read_more_url}}
        <a target="_blank" class="more" href="{{read_more_url}}">READ MORE</a>
        <div class="share">
          <a href="#" class="share-trigger"></a>
          <div class="share-popup">
            Share:
            <a href="{{fbUrl read_more_url}}" target="_blank" class="share-button facebook-share-button"><i class="fa fa-facebook-square"></i></a>
            <a href="{{twUrl read_more_url}}" target="_blank" class="share-button twitter-share-button"><i class="fa fa-twitter"></i></a>
            <a href="{{gpUrl read_more_url}}" target="_blank" class="share-button gplus-share-button"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    <a href="#" class="open-close"></a>
  </div>
</div>
